.contact form {
  display: flex;
  flex-direction: column;
  margin: 90px auto;
  max-width: 1000px;
}

input,
textarea {
  border: none;
  font-family: $bodyFont;
  color: #333;

  padding: 0 0 10px 5px;
  margin-bottom: 40px;
  &::placeholder {
    // text-transform: uppercase;
    color: $black;
    opacity: 1;
    line-height: 1.2;
    font-size: 0.8rem;
  }
  &:focus {
    border-bottom: 1px solid $black;
    outline: none;
  }
}

input {
  border-bottom: 1px solid #eee;
}

textarea {
  border-bottom: 1px solid #eee;
}
