.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav-item {
    margin-left: 2rem;
  }
  li {
    a {
      color: $black;

      &:hover {
        color: $red;
        transition: ease-out 0.2s;
      }
    }
  }
}

.nav-branding {
  font-size: 2rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
