@media (max-width: 50em) {
  .projects {
    .imageContainer {
      .fa-brands {
        font-size: 50px;
      }
    }
  }
}

.bg-text {
  width: 50%;
  h1 {
    margin-bottom: 30px;
  }
}

// hamburger menu
@media only screen and (max-width: 768px) {
  .contactForm {
    width: 90%;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: $solidWhite;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 4;
    .nav-item {
      margin-left: 0;
    }
  }

  .nav-menu.active {
    left: 0;
    box-shadow: 0 3px 6px 0 rgb(0, 0, 0);
  }

  .nav-item {
    margin: 2rem 0;
    text-align: center;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
