.categories {
  margin-top: 90px;
}

.home {
  background-image: url("../../../assets/bg-image.jpg");
  background-position: center;
  filter: blur(4px);
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
}

.bg-text {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 3px solid #f1f1f1;
  color: white;
  width: 60%;
  padding: 20px;
  text-align: center;
  h1 {
    color: $solidWhite;
    margin: 0;
  }
  span {
    color: $blue;
  }
}

// Skills section
.skills {
  h2 {
    margin-bottom: 50px;
  }
  .skillsContainer {
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      padding: 20px 80px;

      list-style: none;
      i {
        font-size: 100px;
      }
      p {
        text-align: center;

        text-transform: uppercase;
        &:hover {
          color: $blue;
          transition: ease-in 0.1s;
          cursor: pointer;
        }
      }
    }
  }
}

.projectIcons {
  //
  margin-bottom: 100px;
}

.projects {
  img {
    width: 600px;
    margin: 0 auto;
  }
}

.imageContainer {
  i {
    color: $black;
    &:hover {
      color: $blue;
    }
  }
  p {
    padding-top: 10px;
  }
  //
  text-align: center;
}

// contact section

.contactContent,
.contactForm {
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
}

.contact {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .contactContent {
      display: flex;
      flex-direction: column;
      width: 30%;
      margin-right: 10%;

      h2 {
        font-weight: 700;
      }
      i {
        font-size: 60px;
      }
      a {
        color: $black;

        &:hover {
          color: $blue;
          cursor: pointer;
          transition: ease-in 0.1s;
        }
      }
    }
  }

  .contactForm {
    width: 60%;

    input,
    textarea {
      width: 100%;
      margin: 0 0 5px;
      padding: 15px;
    }

    textarea {
      height: 100px;
      max-width: 100%;
      resize: none;
    }

    fieldset {
      border: none;
      margin: 0 0 10px;
      min-width: 100%;
      padding: 0;
      width: 100%;
    }
  }
}

// whitespace between divs
.spacer {
  height: 15vh;
}
