html {
  font-size: 125%;
}

body {
  font-family: $bodyFont;
  font-weight: none;
  color: $black;
}

h1,
h2,
h3,
h4,
blockquote {
  font-family: $bodyFont;
  font-weight: normal;
  color: $black;
  margin: 0;
}

// Set the heading font-sizes
// HEADINGS:
// h1: 28px;
// h2: 40px;
// h3: 54px;
// h4: 34px;
// h5: 14px;
h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

h3 {
  font-size: 2.7rem;
}

h4 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

h5 {
  font-size: 0.7rem;
}

ul,
li,
a,
input {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;

  color: $blue;
}

p {
  font-size: 0.8rem;
}
